<!-- espana-tarjeta-sanitaria-individual-input.html -->
<!-- EspanaTarjetaSanitariaIndividualInput component -->
<!--
  Description: an input for entering a España TSI unique national healthcare identifier
  HTML tag: <input>
  CSS class: espana-tarjeta-sanitaria-individual-input
  Keyboard: Standard text input
  Accessibility: aria-label, autocomplete="off"
  Usage:
    <input class="espana-tarjeta-sanitaria-individual-input" type="text" aria-label="TSI" autocomplete="off">
-->

<input
  class="espana-tarjeta-sanitaria-individual-input"
  type="text"
  aria-label=""
  autocomplete="off"
>
