<!-- ireland-individual-health-identifier-input.html -->
<!-- IrelandIndividualHealthIdentifierInput component -->
<!--
  Description: an input for entering Ireland IHI unique national healthcare identifier
  HTML tag: <input>
  CSS class: ireland-individual-health-identifier-input
  Keyboard: Standard text input
  Accessibility: aria-label, inputmode="numeric", pattern="[0-9]{10}", autocomplete="off"
  Usage:
    <input class="ireland-individual-health-identifier-input" type="text" aria-label="IHI" inputmode="numeric" pattern="[0-9]{10}" autocomplete="off">
-->

<input
  class="ireland-individual-health-identifier-input"
  type="text"
  aria-label=""
  inputmode="numeric"
  pattern="[0-9]{10}"
  autocomplete="off"
>
