<!-- northern-ireland-health-and-care-number-input.html -->
<!-- NorthernIrelandHealthAndCareNumberInput component -->
<!--
  Description: an input for entering a Northern Ireland H&C Number unique national healthcare identifier
  HTML tag: <input>
  CSS class: northern-ireland-health-and-care-number-input
  Keyboard: Standard text input
  Accessibility: aria-label, inputmode="numeric", pattern="[0-9]{3} [0-9]{3} [0-9]{4}", autocomplete="off"
  Usage:
    <input class="northern-ireland-health-and-care-number-input" type="text" aria-label="H&amp;C Number" inputmode="numeric" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" autocomplete="off">
-->

<input
  class="northern-ireland-health-and-care-number-input"
  type="text"
  aria-label=""
  inputmode="numeric"
  pattern="[0-9]{3} [0-9]{3} [0-9]{4}"
  autocomplete="off"
>
