<!-- portugal-passaporte-input.html -->
<!-- PortugalPassaporteInput component -->
<!--
  Description: an input for entering Portugal's Passaporte
  HTML tag: <input>
  CSS class: portugal-passaporte-input
  Keyboard: Tab to focus, standard input keyboard interactions
  Accessibility: Implicit input role, aria-label for accessible name
  Format: 1 letter [A-Z] and 6 digits [0-9]
  Usage:
    <input class="portugal-passaporte-input" type="text" aria-label="Portuguese Passport" autocomplete="off">
-->

<input
  class="portugal-passaporte-input"
  type="text"
  aria-label="Portuguese Passport"
  autocomplete="off"
>
